#box1{
    border-radius: 12px;
    position: relative; left: 600px;
    background-color: whitesmoke;
    color: red;
    width: 20%;
    height: 130px;
    box-shadow: 5px 10px purple;
    border: 5px solid red;
    font-size: 28px;
}
#box2{
    border-radius: 12px;
    position: relative; top: 50px;
    background-color: whitesmoke;
    color: black;
    width: 16%;
    height: 200px;
    box-shadow: 5px 10px purple;
    border: 5px solid red;
    font-size: 25px;
    padding-top: 50px;
}
#box3{
    border-radius: 12px;
    position: relative; bottom: 210px; left: 1200px;
    background-color: whitesmoke;
    color: black;
    width: 16%;
    height: 200px;
    box-shadow: 5px 10px purple;
    border: 5px solid red;
    font-size: 25px;
    padding-top: 50px;
}

#box4{
    border-radius: 12px;
    position: relative; 
    background-color: whitesmoke;
    color: black;
    width: 16%;
    height: 200px;
    box-shadow: 5px 10px purple;
    border: 5px solid red;
    font-size: 25px;
    padding-top: 50px;
    display: inline-block;
}

#box5{
    border-radius: 12px;
    position: relative; left: 1200px; bottom: 250px;
    background-color: whitesmoke;
    color: black;
    width: 16%;
    height: 250px;
    box-shadow: 5px 10px purple;
    border: 5px solid red;
    font-size: 15px;
}
#box{
    border: 5px solid green;
}
#box6{
    border: 3px solid purple;
    background-color: green;
    width: 60%;
    position: relative; left: 400px; top: 30px;
    height: 600px;
}
#box7{
    background-color: yellow;
    position: relative; bottom: 500px; left: 420px;
    width: 26%;
    height: 260px;
    padding-top: 5px;
}
#box8{
    background-color: yellow;
    position: relative; bottom: 760px; left: 900px;
    width: 26%;
    height: 260px;
    padding-top: 5px;
}
#box9{
    background-color: yellow;
    position: relative; bottom: 750px; left: 420px;
    width: 58%;
    height: 200px;
    padding-top: 5px;
}
#box10{
    background-color: lightgreen;
    position: relative; bottom: 750px; left: 420px;
    width: 40%;
    height: 120px;
    padding-bottom: 10px;
    box-shadow: 5px 10px purple;
    border: 5px solid red;
    border-radius: 20px;
    padding-right: 100px;
    position: fixed;
    bottom: 100px;
    margin: 60px;
}
#subdiv{
    position: relative; left: 450px; bottom: 100px;
    
}